{% extends "base.html" %}

{% block content %} 
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us </h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to online shopping store which is one of the best online store to get your favourite clothes in few steps and shop in style.</p>
                </div>
            </div>
        </header>
        <br><br>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8"> 
                        <p align="justify">
                            At our store, fashion is more than clothing — it’s a statement of individuality, elegance, and confidence. <br>
                            We curate sophisticated collections that blend contemporary design with timeless appeal, crafted from premium fabrics and meticulous attention to detail. <br>

                            Our philosophy is simple: quality over quantity, style over trend. Every piece is designed to complement your lifestyle and elevate your wardrobe. <br>

                            With a commitment to excellence and a passion for fashion, we invites you to experience clothing that’s as refined as you are.
                        </p> <br> <br>
                    </div>
                </center>
            </div>


        </div>

{% endblock content %}  